.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: -129px;
    width: 97%;
}

.lft-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lft-box img {
    width: 50%;
}

.lft-box-text {
    font-weight: bold;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-transform: uppercase;
}

.flex-end {
    align-items: flex-end;
}

.form-login-page {
    border-left: solid 3px var(--dark-color);
    padding: 90px 50px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease
}

.form-login-page:hover {
    transform: scale(1.1);
    box-shadow: -5px 0 5px -5px #333;
}

.form-login-page Label {
    padding: 10px 0;
}

.right-box {
    display: flex;
    justify-content: center;
}

/***********PLACEHOLDER ANIM****************/

.form-group-page {
    margin-bottom: 1em;
    transition: all .5s;
}

.form-label-page {
    display: block;
    transform: translateY(-2.5em);
    transform-origin: 0 0;
    transition: all .5s;
}

.form-control-page {
    box-shadow: none;
    border-color: rgba(0, 137, 33, 0.2);
    border-style: none none solid none;
    border-width: 5px;
    border-radius: 0;
    transition: all .5s;
    padding: 15px;
}

.form-control-page::placeholder {
    color: transparent;
}

.form-control-page:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--dark-color);
}

.form-control-page:focus+.form-label-page, .form-control-page:not(:placeholder-shown)+.form-label-page {
    transform: translateY(-4.5em);
    color: var(--dark-color);
}

.form-group-page:focus-within {
    transform: scale(1.1, 1.1);
}

/*******************BTN ANIM*******************/

.btn-line {
    color: black;
    transition: all 0.3s;
    position: relative;
    background-color: inherit;
    border: 0;
    margin: 0 auto;
    display: block;
}

.btn-line:hover, .btn-line:focus {
    background-color: white !important;
    /*=(*/
    color: inherit;
    border-radius: 0;
    box-shadow: none !important;
    outline: none !important;
    /*=(*/
}

.btn-line span {
    transition: all 0.3s;
}

.btn-line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 137, 33);
    border-bottom-color: rgba(0, 137, 33);
    transform: scale(0.1, 1);
}

.btn-line:hover span {
    letter-spacing: 5px;
    color: var(--dark-color);
}

.btn-line:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-line:active, .btn-line:visited {
    text-transform: uppercase;
}

.btn-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-line:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.center-grid {
    display: grid;
}