.spinner {
    width: 150px;
    margin: 0 auto;
    animation: pulse 2s infinite;
    animation-name: pulse;
}



@keyframes pulse {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(.8);
    }
}