.detail-prof img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-data {
    display: flex;
    justify-content: space-between;
}

.flex-data .btn {
    align-self: baseline;
}

.pad {
    padding-left: 30px
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-row {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.btn-rd {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    margin-right: 20px;
}

.bc-green {
    background-color: rgb(242, 249, 246);
    box-shadow: -5px -5px 5px -5px #333;
}

.profile-page {
    margin-left: 30px;
}

.flex-map {
    display: flex;
}