@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@300;400;700&display=swap');
/* font-family: 'Amatic SC', cursive;
font-family: 'Oswald', sans-serif;*/

:root {
  --main-color: #10bb4f;
  --light-color: #5eef7e;
  --dark-color: #008921;
  /*var(--main-color)*/
}

::selection {
  background: rgb(0, 137, 33, 0.3);
}

#root {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto
}

.amatic-letter {
  font-family: 'Amatic SC', cursive;
}

body {
  font-family: 'Oswald', sans-serif;
}

img {
  width: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************PROFILE****************/

.left-sidebar {
  background: lightblue;
  grid-column: 1 / 2;
  padding: 1rem;
}

main {
  
  grid-column: 2 / 3;
  padding: 20px;
}

footer {
 
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}
